<!DOCTYPE html>
<html>
<head>
    <title>NIT Bazaar</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <div class="container">

        <h1>Welcome to NIT Bazaar</h1>

        <p>
            Buy, Sell and ExchaAnge items easily within your NIT community.
        </p>

        <div class="buttons">
             <a href="\otp">
            <button id="loginBtn">
                Login
            </button>
            </a>
            <a href="\signup">
            <button id="signupBtn">
                Sign Up
            </button>
            </a>

        </div>

    </div>

</body>
</html>
